:root {
  --gradient: linear-gradient(to top left,#72C6EF,#004E8F);
  

  --primary: 212 80% 69%;
  --primary-foreground: 212 8% 6.8999999999999995%;

  --muted: 212 40% 20.7%;
  --muted-foreground: 212 8% 56.9%;
  
  --accent: 212 40% 20.7%;
  --accent-foreground: 212 8% 98.45%;

  --background: 212 52% 5.52%;
  --foreground: 212 8% 98.45%;

  --input: 212 40% 20.7%;
  --border: 212 40% 20.7%;

  --ring: 212 80% 69%;

  --card: 212 49% 8.969999999999999%;
  --card-foreground: 212 8% 98.45%;
}

.App {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
}

.App section {
  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card));
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid hsl(var(--border));
}

section h3 {
  margin: 0px;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

section label {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.App h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.btn {
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--primary));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btnClose {
  width: 100%;
}

.react-tagsinput {
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--input));;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 6px;
}

.react-tagsinput--focused {
  border-color: hsl(var(--ring));
}

.react-tagsinput-tag {
  background-color: hsl(var(--muted));
  border-radius: 999px;
  border: none;
  color: hsl(var(--card-foreground));
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 0.625rem;
  line-height: 1rem;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: ' ×';
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: hsl(var(--foreground));
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  line-height: 1.25rem;
  border-radius: 6px;
  width: 100px;
}

.react-tagsinput-input::placeholder {
  color: hsl(var(--muted-foreground));
  font-size: .875rem;
}

.secondaryBtnGroup {
  display: flex;
  justify-content: space-between;
}

.secondaryBtn {
  background-color: transparent;
  border: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
}

.secondaryBtn:hover {
  background-color: hsl(var(--accent));
}

#validationError {
  text-align: center;
}

#validationError h3 {
  font-size: 0.938rem;
}

.errorIcon {
  color: hsl(var(--primary));
  width: 3.25rem;
  height: 3.25rem;
  margin-bottom: 1rem;
}

.tagErrorMessage {
  color: hsl(var(--muted-foreground));
  text-align: center;
  font-size: 0.875rem;
}

#keysCheckBox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}